<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>Dashboard</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-dark bg-dark">

<div class="container-fluid">

<span class="navbar-brand">

Smart Attendance

</span>

<div>

<span class="text-white me-3">

{{username}}

</span>

<a
href="/logout"
class="btn btn-danger">

Logout

</a>

</div>

</div>

</nav>

<div class="container mt-5">

<h2>Dashboard Admin</h2>

<div class="row mt-4">

<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<h5>Total Mahasiswa</h5>

<h2>0</h2>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<h5>Hadir Hari Ini</h5>

<h2>0</h2>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<h5>Belum Hadir</h5>

<h2>0</h2>

</div>

</div>

</div>

</div>

</div>

</body>

</html>